<launch>

    <node pkg="rosbag" type="play" name="player" args="--clock -l -r 0.5 /home/shiyufeng/catkin_ws/src/bag/test_2017-09-15-18-01-59.bag"/>

   <node pkg="nodelet" type="nodelet" name="downsample_left" args="standalone image_proc/crop_decimate">
        <param name="decimation_x" type="int" value="1"/>  <!-- change binning_x -->
        <param name="decimation_y" type="int" value="1"/>  <!-- change binning_y -->
	<!--param name="width" type="int" value="480"/>
	<param name="height" type="int" value="320"/>
	<param name="x_offset" type="int" value="400"/>
	<param name="y_offset" type="int" value="100"/-->

        <!-- remap input topics -->
        <remap from="camera/image_raw" to="/stereo/left/image_rect"/>
        <remap from="camera/image_info" to="/stereo/left/camera_info"/>
        <!-- remap output topics -->
        <remap from="camera_out/image_raw" to="/stereo_decimated/left/image_raw"/>
        <remap from="camera_out/camera_info" to="/stereo_decimated/left/camera_info"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="downsample_right" args="standalone image_proc/crop_decimate">
        <param name="decimation_x" type="int" value="1"/>  <!-- change binning_x -->
        <param name="decimation_y" type="int" value="1"/>  <!-- change binning_y -->
	<!--param name="width" type="int" value="480"/>
	<param name="height" type="int" value="320"/>
	<param name="x_offset" type="int" value="400"/>
	<param name="y_offset" type="int" value="100"/-->

        <!-- remap input topics -->
        <remap from="camera/image_raw" to="/stereo/right/image_rect"/>
        <remap from="camera/image_info" to="/stereo/right/camera_info"/>
        <!-- remap output topics -->
        <remap from="camera_out/image_raw" to="/stereo_decimated/right/image_raw"/>
        <remap from="camera_out/camera_info" to="/stereo_decimated/right/camera_info"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="disparity" args="standalone stereo_image_proc/disparity">
	<remap from="left/image_rect" to="/stereo_decimated/left/image_raw"/>
	<remap from="left/camera_info" to="/stereo_decimated/left/camera_info"/>
	<remap from="right/image_rect" to="/stereo_decimated/right/image_raw"/>
	<remap from="right/camera_info" to="/stereo_decimated/right/camera_info"/>

	<param name="approximate_sync" type="bool" value="true"/>
	<param name="queue_size" type="int" value="12"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="pointcloud" args="standalone stereo_image_proc/point_cloud2">
	<remap from="left/image_rect_color" to="/stereo_decimated/left/image_raw"/>
	<remap from="left/camera_info" to="/stereo_decimated/left/camera_info"/>
	<remap from="right/camera_info" to="/stereo_decimated/right/camera_info"/>

	<param name="approximate_sync" type="bool" value="true"/>
	<param name="queue_size" type="int" value="12"/>
    </node>

    <node pkg="image_view" type="disparity_view" name="show_disparity" args="image:=/disparity"/>

    <node pkg="image_view" type="image_view" name="show_left_image" args="image:=/stereo_decimated/left/image_raw"/>
    <node pkg="image_view" type="image_view" name="show_right_image" args="image:=/stereo_decimated/right/image_raw"/>

    <node pkg="rviz" type="rviz" name="show_point_cloud" args="-d $(find sparse_stereo)/rviz/stereo2pointcloud.rviz"/>


    <node pkg="sparse_stereo" type="sparse_stereo_opencv_matching" name="sparse_stereo" output="screen">
	<remap from="/kitti/camera_gray_left/image_raw" to="/stereo/left/image_rect"/>
        <remap from="/kitti/camera_gray_left/camera_info" to="/stereo/left/camera_info"/>
	<remap from="/kitti/camera_gray_right/image_raw" to="/stereo/right/image_rect"/>
        <remap from="/kitti/camera_gray_right/camera_info" to="/stereo/right/camera_info"/>
    </node>

    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_sparse_matching"/>
	

</launch>
